<div class="panel panel-primary">
  {{partial "tickets/form"}}
  <div class="panel-footer clearfix">
    <button {{action "save"}} class="btn btn-primary pull-right">Save</button>
    <button {{action "cancel"}} class="btn btn-default">Cancel</button>
  </div>
</div>
