<div id="wrap">
  <header class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        {{#link-to "index" class="navbar-brand"}}EmberTrackr{{/link-to}}
      </div>
    </div>
  </header>

  <div role="main" class="container">
    {{outlet}}
  </div>
</div>

<footer id="footer">
  <div class="container">
    <p class="text-muted credit">Copyright © {{currentYear}} EmberTrackr Inc.</p>
  </div>
</footer>

