<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span class="badge pull-right">{{status}}</span>
      {{title}}
    </h3>
  </div>
  <div class="panel-body">
    {{description}}
  </div>
</div>
